* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenedor {
  background-color: #26292b;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;
}

main {
  background-color: #2e3239;
  padding: 24px;
  width: 348px;

  border-radius: 12px;
  box-shadow: 0px 2px 30px #5f7adb;
}

h1 {
  color: #a2b2ee;
  text-align: center;
  margin: 12px auto 24px;
}

#pantalla {
    margin: auto;
    width: 100%;
    margin-bottom: 24px;

    font-size: 40pt;
    text-align: right;
    font-family: monospace;
}

button {
  width: 60px;
  height: 60px;

  margin: 6px;
  padding: auto;

  border: none;
  border-radius: 100%;

  font-size: 32pt;
  font-family: monospace;
}

img {
  width: 32px;
  height: 32px;
}

.btn-accion {
  background-color: #a2b2ee;
  box-shadow: 0px 2px 10px #5f7adb;
}

.btn-numero {
  box-shadow: 0px 2px 10px #5f7adb;
}

#btn-igual {
  background-color: #5f7adb;
  box-shadow: 0px 2px 5px #ddd;
}
